server:
  port: ${port}
spring:
  datasource:
    username: ${db.username}
    password: ${db.password}
    url: jdbc:mysql://${db.path}:${db.port}/${db.name}?autoReconnect=true&autoReconnectForPools=true&useUnicode=true&characterEncoding=utf8&useSSL=false&allowMultiQueries=true&allowPublicKeyRetrieval=true&serverTimezone=GMT%2B8&rewriteBatchedStatements=true
    driver-class-name: com.mysql.cj.jdbc.Driver