package ${package};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

/**
 * 项目启动模块
 *
 * @author ${author}
 */
@SpringBootApplication
public class UserAppStart {
    public static void main(String[] args) {
        SpringApplication.run(UserAppStart.class, args);
    }
}
